/**BEGIN GENERAL CLASSES**/
*{
  box-sizing: border-box;
}
.d-flex{
	display:flex;
}
.flex-column{
	flex-direction:column;
}
.flex-row{
	flex-direction:row;
}
/*centreren van children binnen de parent*/
.justify-content-end{
	justify-content:flex-end;
}
.justify-content-center{
	justify-content:center;
}
.justify-content-between{
  justify-content:space-between;
}
.justify-content-around{
  justify-content:space-around;
}
.flex-wrap{
  flex-wrap:wrap;
}
.flex-nowrap{
  flex-wrap:nowrap;
}
/*children centreren zichzelf tov de parent*/
.align-items-center{
	align-items:center;
}

.w-25{
	width:25%;
}
.w-50{
	width:50%;
}
.w-75{
	width:75%;
}

/*- Typography -*/
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
.capital{
   text-transform: capitalize;
}


/**EINDE GENERAL CLASSES**/

/**BEGIN WEBSITE**/
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url('../assets/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Light;
  src: url('../assets/Ubuntu-Light.ttf');
}
body{
  width:1062px;
  margin:0 auto;
  font-family:'PlayfairDisplay-Regular', 'Arial';
  color:#626262;
}
header{
  margin-top:51px;
}
header p{
    font-family: 'Inconsolata', monospace;
    font-size:30px;
    letter-spacing: 0.1cm;
    width:46%;
    color:#000;
}
header nav{
    width:54%;
}
header nav ul{
  list-style:none;
  padding-left:0px;
}
header nav ul li a{
  text-decoration:none;
  color:#626262;
  font-size:14px;
 /* padding-right:106px;*/
}
header nav ul li a:hover{
  font-size:1rem;
}
.category{
  color:#f0f0f0;
  font-family:'Ubuntu-Light';
}
#photodiaries article{
     width:422px;
}
#myarticles{
  width:900px;
  margin:0 auto;
}
#myarticles div{
  flex: 0 1 100vw;
  background:#f0f0f0;
margin-top:60px;
margin-bottom:60px;
  height:285px;
 
  
}
button, input{
    background: none;
    border: 0px;
}
input{
  width:400px;
  border-bottom:1px solid #000;
}
button{
      position: absolute;
    left: 61.5%;
}






